 <!--Student name : Raghuveer Kumar Pendyala(301178112),
Subject :COMP229-web application development
Date : 5 feb 2022 -->
 
 <!--Script Section-->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/css/bootstrap.min.css"></script>
  <script src="/Scripts/app.js"></script>
</body>
</html>