<!--Student name : Raghuveer Kumar Pendyala(301178112),
Subject :COMP229-web application development
Date : 5 feb 2022 -->


<!--Bottom Nav-->
<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h10 class="display-10 navbar-text">&copy;  Copyright Designed by Raghuveer</h10>
    </nav>
  </footer>