<!--Student name : Namirabanu Malek,
student id : 301178112,
Subject :COMP229-web application development
Date : 10 feb 2021 -->
<!--About page-->
<% include partials/header.ejs%>


<% include partials/main_nav.ejs %>
 


<div style="text-align: center;color:black;text-decoration-line: underline;">
    <h1>About Me</h1>
    </div>
    <br><br><br>
   
    <div class="row" >
        <div class="column" style="margin-left: 5%;">
            <img src="/images/profilephoto.jpg" class="rounded float-left" alt="response text">
        
        </div>
        <div class="column" style="margin-left: 40%; max-width: 45%;">
            <h4>
                <p>My name is Raghuveer Kumar Pendyala </p>
                <p>I completed my graduation in Electronics and Communication Engineering from SRM University (Chennai) and currently I am studying at Centennial college with major in Artificial Intelligence.</p>
                <p>I am passionate, collaborative and a T-shaped engineering professional with substantial experience in designing and executing solutions for complex business problems involving large scale data warehousing and reporting solutions using MPP Systems</p>
          	  <p> Click <a href="https://drive.google.com/file/d/1G8KJ57ZaQoikNhufrMkNjOm5ZFCRR8mo/view?usp=sharing" target="_blank"> <u> Here </u> </a> for my Resume to know complete Details About Me.. </p>
            </h4>   
       </div>
    
    



<%include partials/bottom_nav.ejs %>


<% include partials/footer.ejs%>

