<% include partials/header.ejs%>


  <% include partials/main_nav.ejs %>
  
  
   <div style="text-align: center;">
    
      <h1>Welcome! I am Raghuveer Pendyala</h1><br><br>
      <div class="container">
    

        <div style="text-align: center;">
        <h4> Professionally, I am a data engineer with extensive experience in the design and implementation of data warehouse solutions using SQL, Snowflake, Azure, AWS, and ETL tools like Informatica and Matillion. </h4>
        </div><br><br><br><br><br><br><br><br><br><br>
    <div class="container">
      <div class="jumbotron" >
      <h4>Connect with me on:</h4>
      <a href="https://www.linkedin.com/in/raghuveerkumar.pendyala"><i class="fab fa-2x fa-linkedin"></i></a>
      <a href="https://www.facebook.com/raghuveer.kumar.39/"><i class="fab fa-2x fa-facebook"></i></a>
      <a href="https://twitter.com/raghuveerkumar3"><i class="fab fa-2x fa-twitter"></i></a>
    </div>
  </div>
  </div>

   
    
   </div>
    
    </main>

<%include partials/bottom_nav.ejs %>


<% include partials/footer.ejs%>