<% include partials/header.ejs%>


<% include partials/main_nav.ejs %>
  
<div style="text-align: center;color:black;text-decoration-line: underline;">
    <h1>Projects</h1>
    </div>
    <br><br><br>

    <div class="row" >
        <div class="column" style="max-width: 20%">
            <img src="/images/snowflake.png" alt="responsive text" style="margin-left: 16%;" ><br><br><br>
        </div>
        <div class="column" style="margin-left: 38%;max-width: 40%">
            <h4>Legacy to Cloud Migration</h4>
             <p>Worked for global clients in migrating their datasets and code from legacy environments like Oracle , SQL Server to Cloud Hosted applications like Snowflake , AWS and Azure</p>
            </div>
        </div>

        <div class="row" >
            <div class="column" style="max-width: 20%">
                <img src="/images/etlmigration.png" alt="responsive text" >
            </div>
            <div class="column" style="margin-left: 38%;max-width: 40%"> 
                <h4>ETL Migration</h4>
                <p>Have worked on projects to move away from onpremise data processing application to cloud hosted application like Fivetran , Matillion with better optimization and cost-saving</p>
                </div>
            </div>

            <div class="row" >
                <div class="column" style="max-width: 20%">
                    <img src="/images/snowchange.png" alt="responsive text" >
                </div>
                <div class="column" style="margin-left: 38%;max-width: 40%">
                    <h4>Snowchange Implementation</h4>
               
                    <p>Contributed for the community version of Snowchnage for Snowflake with ideas , problems and implemented this solution for Automating devops slotions of different clients.This has helped clients with version control and setting up the process for Continuous Integration and Continuous Deployments. </p>
                    </div>
                </div>
        
    
    
    <%include partials/bottom_nav.ejs %>
    
    
    <% include partials/footer.ejs%>
