 <% include partials/header.ejs%>


  <% include partials/main_nav.ejs %>

    <div class="main">
      <!--Sh2 class="numbered-heading">Service</h2-->

      <div style="text-align: center;text-decoration-line: underline;">
        <h1>Service</h1><br>
     </div>
    
      <div class="container-fluid mt-3" >
          <div class="row about_box" >
            <div class="col-md-4  box" style="border:3px solid #0f0f0f">
                <div class="service-item">
                    <i class="fa fa-2x fa-laptop-code mx-auto mb-4"></i>
                    <h5 class="mb-2">Data Engineering Solutions</h5>
                    <p class="mb-0">Provide solutions to customer problems </p>
                </div>
            </div>
            <div class="col-md-4   offset-1 box" style="border:3px solid #0f0f0f">
                <div class="service-item">
                    <i class="fa fa-2x fa-database mx-auto mb-4"></i>
                    <h5 class="mb-2">ETL Solutions</h5>
                    <p class="mb-0">Developing software solutions to meet customer needs. Creating and implementing the source code of new applications. Testing source code and debugging code. Evaluating existing applications and performing updates and modifications.</p>
                </div>
             </div>
          </div>
  
          <div class="row about_box box_gap" >
            <div class="col-md-4  box" style="border:3px solid #0f0f0f">
                <div class="service-item">
                    <i class="fa fa-2x fa-chart-line mx-auto mb-4"></i>
                    <h5 class="mb-2">Reporting Solutions</h5>
                    <p class="mb-0">Build Reports with high end user experince using latest solutions of Tabluea, Powerbi ,Thoughspot</p>
                </div>
            </div>
            <div class="col-md-4  offset-1 box" style="border:3px solid #0f0f0f">
                <div class="service-item">
                    <i class="fa fa-2x fa-edit mx-auto mb-4"></i>
                    <h5 class="mb-2">DevOps</h5>
                    <p class="mb-0">Provide solutions for automating operations involving code migrations and setting up CI/CD pipelines using AWS and Azure Solutions.</p>
                </div>
             </div>
          </div>
  
        </div>
    </div>
   
    
    <!-- ======= Footer ======= -->
    <%include partials/bottom_nav.ejs %>


    <% include partials/footer.ejs%>
