<!--Student name : Raghuveer Kumar Pendyala(301178112),
Subject :COMP229-web application development
Date : 5 feb 2022 -->

<% include partials/header.ejs%>


<% include partials/main_nav.ejs %>
  
<div style="text-align: center;color:black;text-decoration-line: underline;">
    <h1>Projects</h1>
    </div>
    <br>
    <div class="row" >
        <div class="column" style="max-width: 20%">
            <br>
            <img src="/Assets/images/snowflake.png" alt="responsive text" style="margin-left: 80%;" ><br>
        </div>
        <div class="column" style="margin-left: 25%;max-width: 40%">
            <h4>Legacy to Cloud Migration</h4>
             <p>Worked for global clients like Ecolab, Marriot and London Stock Exchange Group in migrating their datasets and code from legacy environments like Oracle, SQL Server to Cloud Hosted applications like Snowflake, AWS and Azure. Improved Data Processing times there by meeting business SLA's</p>
            </div>
        </div>

        <div class="row" >
           <div class="column" style="max-width: 20%">
            <br>
             <img src="/Assets/images/etlmigration.png" alt="responsive text" style="margin-left: 80%;">
            </div>
            <div class="column" style="margin-left: 25%;max-width: 40%"> 
                <h4>ETL Migration</h4>
                <p>Have worked on projects to move away from onpremise data processing application to cloud hosted application like Fivetran , Matillion with better optimization and cost-saving. For few cases converted data pipeleines from ETL to ELT Model which had substancial impact on Data load completion.</p>
                </div>
            </div>

            <div class="row" >
                <div class="column" style="max-width: 20%">
                    <br>
                    <img src="/Assets/images/snowchange.png" alt="responsive text" style="margin-left: 80%;" >
                </div>
                <div class="column" style="margin-left: 25%;max-width: 40%">
                    <h4>Snowchange Implementation</h4>
               
                    <p>Contributed for the community version of Snowchnage for Snowflake with ideas , problems and implemented this solution for Automating devops slotions of different clients.This has helped clients with version control and setting up the process for Continuous Integration and Continuous Deployments. </p>
                    </div>
                </div>
    
    <%include partials/bottom_nav.ejs %>
    
    
    <% include partials/footer.ejs%>
