/* <!--Student name : Raghuveer Kumar Pendyala(301178112),
Subject :COMP229-web application development
Date : 19 feb 2022 -->*/
/* custom css */

*{
padding: 0px;
margin: 0px;
}
body {
  padding-bottom: 15px;
  font: 14px "Lucida Grande", italic;
  background-image: url('https://wallpaperaccess.com/full/5651978.png');
  background-repeat: no-repeat;
  background-size: cover;
 
}

a {
  color: #000000;
}

imageColumn{
  float: left;
  width: 25%;
  padding: 10px;
}

.row {

  display: flex;

  flex-wrap: wrap;
  padding: 0 1px;
}

/* Create four equal columns that sits next to each other */
.column {

  flex: 25%;
  max-width: 35%;
  padding: 0 4px;
}
.bttn{
  align-content: center;

  width:7rem;
  height: 2.5rem;
  padding:3px;
  margin-right: 5px;
  border-radius: 3px;
}

